*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;

}
.googleSignin{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
  background-color: black;
  color: whitesmoke;
  padding: 30px 50px ;
  border-style: none;
  border-radius: 12px;
  transition: all ease-in-out 300ms;
}
.googleSignin:hover{
  background-color: rgb(61, 61, 61); 
  padding: 35px 60px ;
  box-shadow: black;
}
.greeting{
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50% , -50%);

}
